
.name, .fg-color-yellow, #searchGo, #sRem, #iGo, .goSur span, .goIdx span {
-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}
.highlight{
	color:#0a5ac2;
}
@font-face {
  font-family: 'taha';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/uthmantn1_ver07.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src:  url(fonts/droid-kuhfi/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/droid-amiri/Amiri-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Uthmani';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UthmanicHafs1Ver09.otf) format('opentype');
}
body {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body, p{}
.page {
    width: 940px ;
    margin: auto;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}

#brand-name {
    line-height: 24px;
    margin-top: 2px;
}
#searchForm{
	width:90%;float:left;
}
#search-button{
width:30px;padding:0;margin:0
}
@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
	#searchForm{
		width:87%;float:left;
	}
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }

    .modern-ui-logo {
        width: 24px;
        height: 24px;
    }

    a, .link {
       // font-size: 9pt;
    }

    h3 {
        line-height: 11px;
    }
	#searchForm{
		width:80%;float:left;
	}
}

@media (max-width: 480px) {
    .hero-unit img {
        display: none;
    }

	#jetbrains {
        display: none;
    }
    #brand-name {
        display: none;
    }
		#searchForm{
		width:78%;float:left;
	}
	#search-button{
		min-width:60px !important;
	}
}
#demo-1 p{
text-align:justify;
border-bottom:1px dotted #aaa;
clear:left;
margin:0 !important;
padding-bottom:10px;
padding-top:10px;
}
#demo-1 li, #demo-2 li{list-style:none}
#demo-2 p span, #testfont{
font-family: 'Droid Arabic Naskh', serif;
font-size:160%;
text-align:left;
line-height:50px;
}
#arabic1, #demo-2 li{
font-family: 'Droid Arabic Naskh', serif;
font-size:120%;
text-align:right;
line-height:25px;
border-bottom: 1px dotted #ccc;
margin-bottom:15px;
}
#demo-2 li:last-child{border-bottom:none}
#arabic2, #iGo, #sRem {
font-family: 'taha', serif;
font-size:100%;
line-height:40px;
text-align:right;
}
#arabic3, #headerSur{
font-family: 'Uthmani', serif;
font-size:120%;
text-align:right;
line-height:40px;
}
.grid  .row [class*="span"] .gridicon{
width:140px;
padding-top: 20px;
display: table-cell !important;
vertical-align: middle !important;
text-align: center;
}
.grid  .row [class*="span"] .gridicon img{ height:64px;width:64px;}
